@import '../../../styles.scss';

.contact-section {
    padding: 90px 56px 56px 56px;
    position: relative;
    overflow: hidden;
}

h2 {
    @include h2Styles($specialBlue);
    @include marginBlock0();
    margin-bottom: 48px;
}

.wrapper {
    @include dFlex($jc: space-between, $ai: none);
}

.contact-info {
    width: 40%;
    font-family: 'Montserrat';
}

h3 {
    font-size: 32px;
    font-weight: 700;
    color: $specialBlue;
    @include marginBlock0();
}

.contact-me-content {
    font-size: 16px;
    font-weight: 400px;
}

.call-to-action {
    font-size: 16px;
    font-weight: 400;
    color: $specialBlue;
}

.form-and-dialog-container {
    width: 40%;
    padding: 16px;
    overflow: hidden;
    position: relative;
}

.fillButton::before {
    content: 'Say Hello ;)';
    cursor: pointer;
    @include dFlex(row, center, center);
    height: 100%;
    width: 0%;
    @include overlayFull(absolute, 0, 0, 0, 0);
    @include blueGradientButtonAnimation();
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    animation: fillFormButton 0.08s forwards;
    transform: scale(1.05);
}

.fillButtonGerman::before {
    @include dFlex(row, center, center);
    @include blueGradientButtonAnimation();
    @include overlayFull(absolute, $t: 0, $l: 0);
    content: "Sage Hallo! :)";
    height: 100%;
    width: 0%;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    animation: fillFormButton 0.08s forwards;
    transform: scale(1.05);
    /* Duration and direction of animation */
}

.ellipseSmallContact {
    @include overlayFull(absolute, 815px, 70px);
    z-index: -1;
}

.arrow-up-container {
    position: absolute;
    bottom: 32px;
    left: 100px;
    @include dFlex(row, center, center);
    height: 48px;
    width: 48px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50px;
    @include blueGradientButtonAnimation();

    &:hover {
        background: #fff;
        border: 2px solid $specialBlue;

        >.arrow-up path {
            fill: transparent !important;
            stroke: $specialBlue !important;
        }
    }

}

.labelAnimation {
    transform: translateY(-25px);
}

.labelTextareaAnimation {
    transform: translateY(-32px);
}

.d-none {
    display: none;
}