<header (scroll)="onWindowScroll()" [ngStyle]="{'background': pageScrolled ? shadedHeader : 'transparent'}">
    <nav [ngStyle]="{'padding': pageScrolled ? reducePadding : ''}">
        <a (click)="onClickLogo()" href="#atf"><img [ngStyle]="{'height': pageScrolled ? '48px' : '64px'}"
                src="../../../../assets/img/logo2.png" alt="LOGO"></a>
        <div class="menu-desktop">
            <a href="#letsWork">About me</a>
            <a href="#skill-set">Skill set</a>
            <a href="#my-work">My Work</a>
        </div>
        <div (click)="openMenu()" class="hamburger-menu">
            <span [ngClass]="{rotateToRight: menuService.translateY}"></span>
            <span [ngStyle]="{'display': menuService.translateY ? 'none' : 'block'}"></span>
            <span [ngClass]="{rotateToLeft: menuService.translateY}"></span>
        </div>
    </nav>
</header>

<!-- [ngClass]="{shadedHeader: pageScrolled} -->