@mixin flexCenter() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin menuBarsStyle() {
    display: block;
    background: #5988FF;
    width: 30px;
    height: 2px;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    >nav {
        width: 100%;
        max-width: 1440px;
        padding: 15px;
        transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
        @include flexCenter();


        >a {
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

            >img {
                object-fit: cover;
            }
        }

        >.menu-wrapper {
            display: flex;
            justify-content: space-between;
            width: 55%;
            gap: 16px;

            >.menu-desktop {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;
                gap: 23px;

                >a {
                    text-decoration: none;
                    color: #5988FF;
                    font-size: 23px;
                    font-weight: 400;
                    font-family: 'Montserrat';
                    transition: all 0.15s cubic-bezier(.215, .61, .355, 1);
                    width: 25%;
                    text-align: center;

                    &:hover {
                        font-weight: 800
                    }
                }
            }

            >.languages-container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10%;
                transition: all 0.125s cubic-bezier(.215, .61, .355, 1);

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }


                >.flag {
                    height: auto;
                    height: 48px;
                    width: 48px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 2px solid #5988FF;
                }
            }

        }
    }

}

.logoPaddingNormal {
    padding: 32px
}

.logoPaddingScrolled {
    padding: 16px;
}

.heightLogoScrolled {
    height: 48px;
    object-fit: cover;
}

.heightLogoNormal {
    height: 64px;
    object-fit: cover;
}





@media (min-width: 1051px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 1050px) {
    header {
        >nav {
            >.menu-wrapper {
                flex-direction: row-reverse;
                justify-content: flex-start;

                >.menu-desktop {
                    display: none;
                }

                >.hamburger-menu {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 32px;

                    :nth-child(1) {
                        @include menuBarsStyle();
                    }

                    :nth-child(2) {
                        @include menuBarsStyle();
                    }

                    :nth-child(3) {
                        @include menuBarsStyle();
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        >nav {
            >.menu-desktop {
                display: none;
            }
        }
    }

    .logoPaddingNormal {
        padding: 16px
    }

    .logoPaddingScrolled {
        padding: 8px;
    }

    .heightLogoScrolled {
        height: 32px;
        object-fit: cover;
    }

    .heightLogoNormal {
        height: 48px;
        object-fit: cover;
    }
}

@media (max-width: 430px) {
    header {
        >nav {
            >img {
                height: 48px;
            }
        }
    }
}

.rotateToRight {
    transform: rotate(45deg) translateY(7px);

}

.rotateToLeft {
    transform: rotate(-45deg) translateY(-7px);
}

.Dnone {
    display: none;
}