<div class="introduction">
    <div class="ellipse-Big-Container">
        <img class="ellipseIntroBig" src="assets/img/ellipseIntroBig.png" alt="">
        <img class="ellipseIntroSmall" src="assets/img/ellipseIntroSmall.png" alt="">
    </div>
    <div [ngClass]="{flexColumnGerman: !menuService.isOnEnglish}" class="letsWorkTogether-container">
        <h2 [ngStyle]="{'text-align': menuService.isOnEnglish ? 'start' : 'center'}">{{"letsWorkTogether" | translate}}</h2>
        <div class="description-container">
            <p class="text">{{"introductionOfMe" | translate}}</p>
            <div>
                <a (mouseover)="onHover()" (mouseleave)="onLeave()" [ngClass]="{'fill-button':isHover}"
                    class="fill-button" href="#contact">{{"sendAMessage" | translate}}</a>
            </div>
        </div>
    </div>
</div>