<div class="introduction">
    <div class="ellipse-Big-Container">
        <img class="ellipseIntroBig" src="assets/img/ellipseIntroBig.png" alt="">
        <img class="ellipseIntroSmall" src="assets/img/ellipseIntroSmall.png" alt="">
    </div>
    <div class="letsWorkTogether-container">
        <h2>Let`s work together</h2>
        <div class="description-container">
            <p class="text">I am a Front-end developer based in Düsseldorf, Germany. I enjoy helping designers and
                companies
                bring their ideas into real life. I am looking forward to continuing my developer career with a job in a
                junior web developer position.

                If you think I’d be a good match for your projects, contact me!</p>
            <div>
                <a (mouseover)="onHover()" (mouseleave)="onLeave()" [class.fill-button]="isHover" class="fill-button"
                    href="#contact">Send a message</a>
            </div>
        </div>
    </div>
</div>