@import '../../../styles.scss';

.ellipse-Big-Container {
    @include dFlex(row, center);
    display: flex;
    justify-content: center;
    margin-top: -100px;
    position: relative;
}

.letsWorkTogether-container {
    @include dFlex(row, space-between);
    overflow: hidden;
    padding: 56px;
}

.letsWorkTitle {
    line-height: 1;
    @include h2Styles($specialBlue);
    @include marginBlock0();
}

.description-container {
    @include dFlex(column, $ai: center);
    width: 50%;
}

p {
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
    @include marginBlock0();
    margin-bottom: 32px;
}

.btn-container {
    height: auto;
    @include dFlex(row, center, center);
    width: 100%;

    >a {
        position: relative;
        background: #fff;
        text-decoration: none;
        border-radius: 10px;
        border: 2px solid $specialBlue;
        padding: 15px 30px;
        font-size: 24px;
        color: $specialBlue;
        font-family: 'Montserrat';
        cursor: pointer;
    }
}

.ellipseIntroBig {
    z-index: 2;
}

.ellipseIntroSmall {
    width: 82px;
    height: 82px;
    object-fit: contain;
    @include overlayFull(absolute, $r: 185px, $b: -25px);
    z-index: 2;
    right: 150px;
}

.flexColumnGerman {
    @include dFlex(column, $ai: center, $g: 16px);
}