.skill-set-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    background-color: #5988FF;
    background: linear-gradient(90deg, rgba(89, 136, 255, 1) 0%, rgba(89, 136, 255, 0.8381477591036415) 0%, rgba(0, 67, 240, 0.6392682072829132) 0%);

    >h2 {
        text-align: center;
        color: #fff;
        font-size: 6.2vw;
        font-weight: 400px;
        font-family: 'Baloo';
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 32px;
    }
}

.skill-set-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    width: 70%;
}

.skill-set {
    display: flex;
    justify-content: space-evenly;
    width: 765px;
    flex-wrap: wrap;
    align-items: center;
    gap: 75px;

    >.skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        >img {
            transition: all 0.25s cubic-bezier(.215, .61, .355, 1);
        }

        >span {
            font-size: 16px;
            font-weight: 400;
            color: #fff;
        }
    }
}

.translateY {
    transform: translateY(-10px);
}

.textBold {
    font-weight: 700;
}

@media screen and (min-width: 1200px) {
    .skill-set-section {
        >h2 {
            font-size: 96px;
        }
    }
}

@media (max-width: 1050px) {
    .skill-set-wrapper {
        width: 100%;
    }

    .skill-set1 {
        >.skill {
            >img {
                height: 64px;
            }
        }
    }

    .skill-set2 {
        >.skill {
            >img {
                height: 64px;
            }
        }
    }
}