<div class="skill-set-section">
    <h2 data-aos="fade-up" data-aos-once="true">{{"skill-set" | translate}}</h2>
    <div class="skill-set-wrapper">
        <div class="skill-set">
            @for(skill of skillSet; track skill; let index = $index){
            <div (mouseover)="getTranslation(index)" (mouseleave)="getTranslationBack(index)" class=" skill">
                <img [class.translateY]="translationY[index]" src="assets/icons/{{skill.image}}" alt="">
                <span [ngStyle]="{'font-weight': translationY[index] ? 700 : 400 }">{{skill.tech}}</span>
            </div>
            }
        </div>
    </div>

</div>