@import '../../../styles.scss';

.skill-set-section {
    @include dFlex(column, $ai: center);
    padding: 120px 48px 120px 48px;
    overflow: hidden;
    background-color: #5988FF;
    background: linear-gradient(90deg, rgba(89, 136, 255, 1) 0%, rgba(89, 136, 255, 0.8381477591036415) 0%, rgba(0, 67, 240, 0.6392682072829132) 0%);

    >h2 {
        text-align: center;
        color: #fff;
        font-size: 6.2vw;
        font-weight: 400px;
        font-family: 'Baloo';
        @include marginBlock0();
        margin-bottom: 32px;
    }
}

.skill-set-wrapper {
    @include dFlex(column, $ai: center, $g: 47px);
    width: 70%;
}

.skill-set {
    @include dFlex(row, space-evenly, center, 80px);
    flex-wrap: wrap;
    width: 100%;

    >.skill {
        @include dFlex(column, $ai: center, $g: 10px);
        cursor: pointer;
        width: 10%;

        >img {
            transition: all 0.25s cubic-bezier(.215, .61, .355, 1);
        }

        >span {
            font-size: 18px;
            font-weight: 400;
            color: #fff;
            text-align: center;
        }
    }
}

.translateY {
    transform: translateY(-10px);
}

.textBold {
    font-weight: 700;
}

@media screen and (min-width: 1200px) {
    .skill-set-section {
        >h2 {
            font-size: 96px;
        }
    }
}

@media (max-width: 1050px) {
    .skill-set-section {
        padding: 84px 56px;

        >h2 {
            font-size: 64px;
        }
    }

    .skill-set-wrapper {
        width: 100%;
    }

    .skill-set {
        width: 100%;
        gap: 80px;

        >.skill {
            >img {
                height: 64px;
            }
        }
    }
}

@media (max-width: 768px) {
    .skill-set-section {
        padding: 84px 32px;
    }

    .skill-set {
        width: 100%;
        gap: 60px;

        >.skill {
            width: 20%;
        }
    }
}

@media (max-width: 430px) {
    .skill-set-section {
        padding: 84px 16px;

        >h2 {
            font-size: 48px;
        }
    }

    .skill-set {
        gap: 30px;

        >.skill {
            width: 30%;
        }
    }
}