<nav [class.traslationY]="menuMobile.translateY" class="menu-mobile">
    <div class="links-container">
        <a (click)="menuMobile.onLinkClicked()" href="#letsWork">{{"about-me" | translate}}</a>
        <a (click)="menuMobile.onLinkClicked()" href="#skill-set">{{"skill-set" | translate}}</a>
        <a (click)="menuMobile.onLinkClicked()" href="#my-work">{{"my-work" | translate}}</a>
        <a (click)="menuMobile.onLinkClicked()" href="#contact">{{"contact" | translate}}</a>
    </div>
</nav>