.menu-mobile {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 4;
    background: #fff;
    transition: all 0.4s cubic-bezier(.215, .61, .355, 1);

    >.logo-container {
        width: 100%;
        padding: 32px;
    }

    >.links-container {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 56px;

        >a {
            font-size: 56px;
            text-decoration: none;
            color: #5988FF;
        }
    }
}

@media (min-width: 768px) {
    .menu-mobile {
        display: none;
    }
}

.traslationY {
    transform: translateY(-100px)
}