.contact-section {
    padding: 56px;
    position: relative;

    >h2 {
        font-family: 'Baloo';
        font-size: 6.2vw;
        font-weight: 800;
        color: #5988FF;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 48px;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;

    >.contact-info {
        width: 40%;
        font-family: 'Montserrat';

        >h3 {
            font-size: 32px;
            color: #5988FF;
            font-weight: 700;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        >.contact-me-content {
            font-size: 16px;
            font-weight: 400px;
        }

        >.call-to-action {
            font-size: 16px;
            font-weight: 400;
            color: #5988FF
        }
    }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 40%;
    font-family: 'Montserrat';

    >.input-name-container {
        width: 100%;

        >.label-and-inputName-wrapper {
            position: relative;
            width: 100%;

            .name-label {
                position: absolute;
                top: 22%;
                left: 16px;
                background: #fff;
                padding: 4px;
                transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
            }

            .input-name {
                border-radius: 10px;
                border: 2px solid #5988FF;
                padding: 15px 25px;
                outline: none;
                width: 100%;
            }

        }

        >.requiredBanner {
            margin-top: 8px;
            color: red;
        }
    }

    >.input-email-container {
        width: 100%;

        >.label-and-inputEmail-wrapper {
            position: relative;
            width: 100%;

            >.email-label {
                position: absolute;
                top: 22%;
                left: 16px;
                background: #fff;
                padding: 4px;
                transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
            }

            >.input-email {
                border-radius: 10px;
                border: 2px solid #5988FF;
                padding: 15px 25px;
                outline: none;
                width: 100%;
            }
        }

        >.requiredBanner {
            margin-top: 8px;
            color: red;
        }


    }

    >.textarea-container {
        width: 100%;

        >.label-and-textarea-wrapper {
            position: relative;
            width: 100%;

            >.message-label {
                position: absolute;
                top: 8%;
                left: 16px;
                background: #fff;
                padding: 4px;
                transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
            }

            >.textarea {
                border-radius: 10px;
                border: 2px solid #5988FF;
                padding: 15px 25px;
                outline: none;
                width: 100%;
            }
        }

        >.isRequired {
            margin-top: 8px;
            color: red;
        }


    }

    >button {
        border-radius: 10px;
        border: 2px solid #5988FF;
        color: #5988FF;
        padding: 15px 30px;
        font-size: 24px;
        background: #fff;

        &:hover {
            cursor: pointer;
        }
    }




}

.checkbox-container {
    width: 100%;

    >.chekbox-and-policy-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;

        >.input-checkbox {
            height: 24px;
            width: 24px;
            border: 1px solid #5988FF;
            background: #fff;
            position: relative;
        }

        >.privacy-policy-container {
            >a {
                color: #5988FF;
                text-decoration: none;
            }

        }
    }

    >.requiredBanner {
        margin-top: 8px;
        color: red;
    }

}

.ellipseSmallContact {
    position: absolute;
    top: 675px;
    right: 70px;
}

@media screen and (min-width: 1200px) {
    .contact-section {
        >h2 {
            font-size: 96px;
        }
    }
}

@media (max-width: 1050px) {
    .ellipseSmallContact {
        top: 700px;
        right: 24px;
        height: 50px;
    }

    .wrapper {
        >.contact-info {
            width: 45%;
        }
    }

    .contact-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .contact-section {
        padding: 32px;

        >h2 {
            font-size: 64px;
        }
    }

    .wrapper {
        flex-direction: column;
        align-items: center;

        >.contact-info {
            width: 100%;
            margin-bottom: 16px;

            >h3 {
                font-size: 32px;
            }
        }

        >.contact-form {
            width: 100%;
        }
    }

    .ellipseSmallContact {
        top: 827px;
        z-index: -1;
    }
}

@media (max-width: 430px) {
    .contact-section {
        >h2 {
            font-size: 48px;
        }
    }

    .wrapper {
        >.contact-info {
            >h3 {
                font-size: 24px;
            }
        }
    }

    .ellipseSmallContact {
        top: 850px;
    }
}

.labelAnimation {
    transform: translateY(-24px);
}

.labelTextareaAnimation {
    transform: translateY(-29px);
}