<div class="contact-section">
    <img class="ellipseSmallContact" src="../../../assets/img/ellipseSmallContact.png" alt="">
    <h2>Contact</h2>
    <div class="wrapper">
        <div class="contact-info">
            <h3>Got a problem to solve?</h3>
            <p class="contact-me-content">Contact me through this form, I am interested in hearing from you, knowing
                your ideas and contributing to
                your projects with my work.
            </p>
            <p class="call-to-action">Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <input [(ngModel)]="contactData.name" name="name" class="input-name" type="text" placeholder="Your Name"
                required>
            <input [(ngModel)]="contactData.email" name="email" class="input-email" type="email"
                placeholder="Your E-Mail" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <textarea #message="ngModel" [(ngModel)]="contactData.message" type="text" class="textarea" name="message"
                id="message" minlength="3" cols="30" rows="10" placeholder="Your message" required></textarea>
            @if(!message.valid && message.touched){
            <span>Please enter a message</span>
            }
            <label class="checkbox-container">
                <input name="checkbox" #checkbox="ngModel" [ngModel]="checked" (change)="updateButtonState($event)"
                    class="input-checkbox" type="checkbox" required>
                <span class="checkmark"></span>
                I've
                read the
                privacy policy
                and agree to the processing of my data as outlined
            </label>
            @if(!checkbox.valid && contactForm.submitted){
            <span [ngStyle]="{'text-align': 'start', 'width':'100%',}">Please check the <a style="color: #5988FF;"
                    href="#privacypolicy">privacy policy</a></span>
            }
            <button
                [ngStyle]="{'border': buttonIsDisabled ? borderGray : borderBlue, 'color': buttonIsDisabled ? colorGray : colorBlue}"
                [disabled]="buttonIsDisabled">SayHello!</button>
        </form>
    </div>
</div>

<!-- [ngStyle]="{'border': buttonIsDisabled ? borderGray : borderBlue, 'color': buttonIsDisabled ? colorGray : colorBlue}" -->