@import '../../../styles.scss';
@import './mixin.contact.scss';

.contact-section {
    padding: 90px 56px 56px 56px;
    position: relative;
    overflow: hidden;

    >h2 {
        font-family: 'Baloo';
        font-size: 6.2vw;
        font-weight: 800;
        color: #5988FF;
        @include marginBlock0();
        margin-bottom: 48px;
    }
}

.wrapper {
    @include dFlex($jc: space-between, $ai: none);

    >.contact-info {
        width: 40%;
        font-family: 'Montserrat';

        >h3 {
            font-size: 32px;
            font-weight: 700;
            color: $specialBlue;
            @include marginBlock0();
        }

        >.contact-me-content {
            font-size: 16px;
            font-weight: 400px;
        }

        >.call-to-action {
            font-size: 16px;
            font-weight: 400;
            color: $specialBlue;
        }
    }
}

.form-and-dialog-container {
    width: 40%;
    padding: 16px;
    overflow: hidden;
    position: relative;
}

.contact-form {
    @include dFlex(column, space-between, center, 32px);
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

    >.input-name-container {
        width: 100%;

        >.label-and-inputName-wrapper {
            position: relative;
            width: 100%;

            .name-label {
                @include labelNameAndEmail(22%, 16px);
            }

            .input-name {
                @include inputStyle(15px 50px 15px 25px);
            }

            >.frame {
                position: absolute;
                top: 11px;
                right: 16px;
            }

        }

        >.requiredBanner {
            margin-top: 8px;
            color: red;
        }
    }

    >.input-email-container {
        width: 100%;

        >.label-and-inputEmail-wrapper {
            position: relative;
            width: 100%;

            >.email-label {
                @include labelNameAndEmail(22%, 16px);
            }

            >.input-email {
                @include inputStyle(15px 50px 15px 25px);
            }

            >.frame {
                position: absolute;
                top: 11px;
                right: 16px;
            }
        }

        >.requiredBanner {
            margin-top: 8px;
            color: red;
        }


    }

    >.textarea-container {
        width: 100%;

        >.label-and-textarea-wrapper {
            position: relative;
            width: 100%;

            >.message-label {
                @include labelNameAndEmail(8%, 16px);
            }

            >.textarea {
                @include inputStyle(15px 42px 15px 25px);
                resize: none;
            }

            >.frame {
                position: absolute;
                top: 11px;
                right: 16px;
            }
        }

        >.isRequired {
            margin-top: 8px;
            color: red;
        }


    }

    >button {
        @include submitButtonStyle();
    }
}

@keyframes fillFormButton {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
        background: rgb(89, 136, 255);
        @include blueGradientButtonAnimation();
    }
}

.fillButton::before {
    content: 'Say Hello ;)';
    cursor: pointer;
    @include dFlex(row, center, center);
    height: 100%;
    width: 0%;
    @include overlayFull(absolute, 0, 0, 0, 0);
    @include blueGradientButtonAnimation();
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    animation: fillFormButton 0.08s forwards;
    transform: scale(1.05);
}

.fillButtonGerman::before {
    @include dFlex(row, center, center);
    @include blueGradientButtonAnimation();
    @include overlayFull(absolute, $t: 0, $l: 0);
    content: "Sage Hallo! :)";
    height: 100%;
    width: 0%;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
    animation: fillFormButton 0.08s forwards;
    transform: scale(1.05);
    /* Duration and direction of animation */
}

.checkbox-container {
    width: 100%;

    >.chekbox-and-policy-wrapper {
        @include dFlex($ai: center, $g: 8px);

        >.label-and-checkbox-wrapper {
            @include dFlex(row, center, center);
            position: relative;
            border-radius: 50px;
            padding: 5px;
            z-index: 1;

            &:hover {
                background: #a0bbff;

            }

            >.custom-checkbox {
                display: inline-block;
                height: 24px;
                width: 24px;
                min-height: 24px;
                min-width: 24px;
                border: 2px solid $specialBlue;
                z-index: 3;

                &:hover {
                    cursor: pointer;
                }
            }

            >.input-checkbox {
                position: absolute;
                left: -9999px;
            }

            >.checkmark {
                @include overlayFull(absolute, 7px, 4px);
                height: 21px;
                width: 25px;
                z-index: 1;

                &:hover {
                    cursor: pointer;
                }
            }

        }

        >.privacy-policy-container {
            >a {
                color: $specialBlue;
                text-decoration: none;
                width: 20%;

                &:hover {
                    color: blue;
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

        }
    }

    >.requiredBanner {
        margin-top: 8px;
        color: red;
    }

}

.ellipseSmallContact {
    @include overlayFull(absolute, 815px, 70px);
    z-index: -1;
}

.arrow-up-container {
    position: absolute;
    bottom: 32px;
    left: 100px;
    @include dFlex(row, center, center);
    height: 48px;
    width: 48px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50px;
    @include blueGradientButtonAnimation();


    &:hover {
        background: #fff;
        border: 2px solid $specialBlue;

        >.arrow-up path {
            fill: transparent !important;
            stroke: $specialBlue !important;
        }
    }

}


@media screen and (min-width: 1200px) {
    .contact-section {
        >h2 {
            font-size: 96px;
        }
    }
}

@media (max-width: 1050px) {
    .contact-section {
        padding: 90px 56px 56px 56px;
    }

    .ellipseSmallContact {
        @include overlayFull(absolute, 700px, 24px);
        height: 50px;
    }

    .wrapper {
        >.contact-info {
            width: 45%;
        }
    }

    .form-and-dialog-container {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .contact-section {
        padding: 84px 32px;

        >h2 {
            font-size: 64px;
        }
    }

    .wrapper {
        @include dFlex(column, $ai: center);

        >.contact-info {
            width: 100%;

            >h3 {
                font-size: 32px;
            }
        }

        >.form-and-dialog-container {
            width: 100%;
            padding: 16px 0px 0px 0px;
        }
    }

    .ellipseSmallContact {
        top: 1000px;
        z-index: -1;
    }

    .arrow-up-container {
        left: 40px;
    }


}

@media (max-width: 430px) {
    .contact-section {
        >h2 {
            font-size: 48px;
        }
    }

    .wrapper {
        >.contact-info {
            >h3 {
                font-size: 24px;
            }

        }

        >.contact-form {
            >button {
                padding: 8px 15px;
                font-size: 16px;
            }
        }

    }

    .arrow-up-container {
        left: 24px;
        width: 32px;
        height: 32px;
    }
}

.labelAnimation {
    transform: translateY(-25px);
}

.labelTextareaAnimation {
    transform: translateY(-32px);
}

.d-none {
    display: none;
}