<div class="contact-section">
    <img class="ellipseSmallContact" src="assets/img/ellipseSmallContact.png" alt="">
    <a href="#atf" class="arrow-up-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="arrow-up" viewBox="0 0 512 512">
            <path fill="transparent" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M112 244l144-144 144 144M256 120v292" />
        </svg>
    </a>
    <h2>Contact</h2>
    <div class="wrapper">
        <div class="contact-info">
            <h3>Got a problem to solve?</h3>
            <p class="contact-me-content">Contact me through this form, I am interested in hearing from you, knowing
                your ideas and contributing to
                your projects with my work.
            </p>
            <p class="call-to-action">Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="input-name-container">
                <div class="label-and-inputName-wrapper">
                    <label [ngClass]="{labelAnimation: animateName}" class="name-label" for="name">Your Name</label>
                    <input (focus)="translateUp('name')" (blur)="translateBack('name', contactData.name)"
                        [(ngModel)]="contactData.name" id="name" name="name" class="input-name" type="text"
                        minlength="3" #name="ngModel" required>
                    @if(!name.valid && name.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (name.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="requiredBanner">
                    @if(!name.valid && name.touched){
                    <span>Your name is required</span>
                    }
                </div>
            </div>

            <div class="input-email-container">
                <div class="label-and-inputEmail-wrapper">
                    <label [ngClass]="{labelAnimation: animateEmail}" class="email-label" for="email">Your Email</label>
                    <input (focus)="translateUp('email')" (blur)="translateBack('email', contactData.email)"
                        [(ngModel)]="contactData.email" id="email" name="email" class="input-email" type="email"
                        #email="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    @if(!email.valid && email.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (email.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="requiredBanner">
                    @if(!email.valid && email.touched){
                    <span>Your email is required</span>
                    }
                </div>
            </div>

            <div class="textarea-container">
                <div class="label-and-textarea-wrapper">
                    <label [ngClass]="{labelTextareaAnimation: animateTextarea}" class="message-label"
                        for="message">Your
                        message</label>
                    <textarea (focus)="translateUp('message')" (blur)="translateBack('message',contactData.message)"
                        #message="ngModel" [(ngModel)]="contactData.message" id="textarea" type="text" class="textarea"
                        name="message" id="message" minlength="3" cols="30" rows="10" required></textarea>
                    @if(!message.valid && message.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (message.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="isRequired">
                    @if(!message.valid && message.touched){
                    <span>Your message is empty</span>
                    }
                </div>
            </div>
            <div class="checkbox-container">
                <div class="chekbox-and-policy-wrapper">
                    <div class="label-and-checkbox-wrapper">
                        <label class="custom-checkbox" for="checkbox"></label>
                        <input id="checkbox" name="checkbox" #checkbox="ngModel" [ngModel]="checked"
                            class="input-checkbox" type="checkbox" required>
                        <img [ngStyle]="{'display': checkbox.valid ? '' : 'none'}" class="checkmark"
                            src="assets/icons/checkmark.svg" alt="">
                    </div>
                    <span class="privacy-policy-container">I have read the <a href="/privacy-policy">privacy policy</a>
                        and
                        agree to the processing of my data as outlined
                    </span>
                </div>
                <div class="requiredBanner">
                    @if(!checkbox.valid && checkbox.touched){
                    <span>Please accept the privacy policy</span>
                    }
                </div>
            </div>
            @if(name.valid && email.valid && message.valid && checkbox.valid ){
            <button (mouseover)="onHover()" (mouseleave)="onLeave()" [ngClass]="{fillButton: isHover}"
                [disabled]="false">SayHello ;)</button>
            } @else {
            <button [ngStyle]="{'border': borderGray, 'color': colorGray}" [disabled]="true">Say hello ;)</button>
            }
        </form>
    </div>
</div>