<div class="contact-section">
    <img class="ellipseSmallContact" src="assets/img/ellipseSmallContact.png" alt="">
    <a href="#atf" class="arrow-up-container">
        <svg xmlns="http://www.w3.org/2000/svg" class="arrow-up" viewBox="0 0 512 512">
            <path fill="transparent" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                d="M112 244l144-144 144 144M256 120v292" />
        </svg>
    </a>
    <h2 data-aos="fade-up" data-aos-offset="250" data-aos-once="true">{{"contactTitle" | translate}}</h2>
    <div class="wrapper">
        <div data-aos="fade-right" data-aos-offset="250" data-aos-once="true" class="contact-info">
            <h3>{{"contact-subTitle" | translate}}</h3>
            <p class="contact-me-content">{{"contact-text" | translate}}</p>
            <p class="call-to-action">{{"contact-cta" | translate}} <b>{{"contact-me" | translate}}</b></p>
        </div>
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div data-aos="fade-left" data-aos-offset="50" data-aos-once="true" class="input-name-container">
                <div class="label-and-inputName-wrapper">
                    <label [ngClass]="{labelAnimation: animateName}" class="name-label" for="name">{{"your-name" |
                        translate}}</label>
                    <input (focus)="translateUp('name')" (blur)="translateBack('name', contactData.name)"
                        [(ngModel)]="contactData.name" id="name" name="name" class="input-name" type="text"
                        minlength="3" #name="ngModel" required>
                    @if(!name.valid && name.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (name.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="requiredBanner">
                    @if(!name.valid && name.touched){
                    <span>{{"name-required" | translate}}</span>
                    }
                </div>
            </div>

            <div data-aos="fade-left" data-aos-offset="100" data-aos-once="true" class="input-email-container">
                <div class="label-and-inputEmail-wrapper">
                    <label [ngClass]="{labelAnimation: animateEmail}" class="email-label" for="email">{{"your-email" |
                        translate}}</label>
                    <input (focus)="translateUp('email')" (blur)="translateBack('email', contactData.email)"
                        [(ngModel)]="contactData.email" id="email" name="email" class="input-email" type="email"
                        #email="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    @if(!email.valid && email.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (email.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="requiredBanner">
                    @if(!email.valid && email.touched){
                    <span>{{"email-required" | translate}}</span>
                    }
                </div>
            </div>

            <div data-aos="fade-left" data-aos-offset="150" data-aos-once="true" class="textarea-container">
                <div class="label-and-textarea-wrapper">
                    <label [ngClass]="{labelTextareaAnimation: animateTextarea}" class="message-label"
                        for="message">{{"your-message" | translate}}</label>
                    <textarea (focus)="translateUp('message')" (blur)="translateBack('message',contactData.message)"
                        #message="ngModel" [(ngModel)]="contactData.message" id="textarea" type="text" class="textarea"
                        name="message" id="message" minlength="3" cols="30" rows="10" required></textarea>
                    @if(!message.valid && message.touched){
                    <img class="frame" src="assets/icons/frame(!).png" alt="">
                    } @else if (message.valid) {
                    <img class="frame" src="assets/icons/frameV.png" alt="">
                    }
                </div>
                <div class="isRequired">
                    @if(!message.valid && message.touched){
                    <span>{{"message-required" | translate}}</span>
                    }
                </div>
            </div>
            <div data-aos="fade-left" data-aos-offset="200" data-aos-once="true" class="checkbox-container">
                <div class="chekbox-and-policy-wrapper">
                    <div class="label-and-checkbox-wrapper">
                        <label class="custom-checkbox" for="checkbox"></label>
                        <input id="checkbox" name="checkbox" #checkbox="ngModel" [ngModel]="checked"
                            class="input-checkbox" type="checkbox" required>
                        <img [ngStyle]="{'display': checkbox.valid ? '' : 'none'}" class="checkmark"
                            src="assets/icons/checkmark.svg" alt="">
                    </div>
                    <span class="privacy-policy-container">{{"check-text1" | translate}} <a
                            href="/privacy-policy">{{"privacy-policy" | translate}}</a>
                        {{"check-text2" | translate}}
                    </span>
                </div>
                <div class="requiredBanner">
                    @if(!checkbox.valid && checkbox.touched){
                    <span>Please accept the privacy policy</span>
                    }
                </div>
            </div>
            @if(name.valid && email.valid && message.valid && checkbox.valid ){
            <button (mouseover)="onHover()" (mouseleave)="onLeave()"
                [ngClass]="{'fillButton': isHover && menuService.isOnEnglish, 'fillButtonGerman': isHover && !menuService.isOnEnglish}"
                [disabled]="false">{{"say-hello" | translate}}</button>
            } @else {
            <button [ngStyle]="{'border': borderGray, 'color': colorGray}" [disabled]="true">{{"say-hello" |
                translate}}</button>
            }
        </form>
    </div>
</div>