<div class="my-work-section">
    <img class="ellipseMyWorkSmall" src="assets/img/ellipseMyWorkSmall.png" alt="">
    <img class="ellipseMyWorkMedium" src="assets/img/ellipseMediumMyWork.png" alt="">
    <img class="ellipseHalfMyWork" src="assets/img/ellipseHalfMyWork.png" alt="">
    <img class="ellipseGiantMyWork" src="assets/img/ellipseGiantMyWork.png" alt="">
    <img class="ellipseSmallestMyWork" src="assets/img/ellipseSmallestMyWork.png" alt="">
    <div class="my-work-container">
        <h2 data-aos="fade-up" data-aos-once="true">{{"my-workTitle" | translate}}</h2>
        <p data-aos="fade-right" data-aos-once="true">{{"my-workDescription" | translate}}</p>
    </div>

    <div class="projects-container">
        @for(project of projectsList; track project; let index = $index){
        <app-project [project]="project"></app-project>
        }
    </div>




</div>