@import '../../../styles.scss';

.my-work-section {
    position: relative;
    padding: 120px 56px 56px 56px;
    overflow: hidden;
    @include whiteGradientBg();
}

.my-work-container {
    width: 50%;
    margin-bottom: 96px;

    >h2 {
        font-size: 6.2vw;
        color: $specialBlue;
        font-weight: 800;
        font-family: 'Baloo';
        @include marginBlock0();
    }

    >p {
        font-size: 23px;
        font-family: 'Montserrat';
        font-weight: 400;
        @include marginBlock0();
    }
}

.ellipseMyWorkSmall {
    @include overlayFull(absolute, $t: 16px, $l: 563px);
}

.ellipseMyWorkMedium {
    @include overlayFull(absolute, $t: 96px, $r: 150px);
}

.ellipseHalfMyWork {
    @include overlayFull(absolute, $t: 650px, $l: 0);
}

.ellipseGiantMyWork {
    @include overlayFull(absolute, $t: 800px, $r: 0);
}

.ellipseSmallestMyWork {
    @include overlayFull(absolute, $t: 1230px, $l: 100px);
}

@media screen and (min-width: 1200px) {
    .my-work-container {
        >h2 {
            font-size: 96px;
        }
    }
}

@media (max-width: 1050px) {
    .ellipseMyWorkSmall {
        left: 350px;
    }

    .ellipseMyWorkMedium {
        right: 48px;
    }

    .ellipseGiantMyWork {
        height: 500px;
    }

    .ellipseSmallestMyWork {
        left: 200px;
        top: 1015px;
    }
}

@media (max-width: 768px) {
    .my-work-section {
        position: relative;
        padding: 120px 32px 32px 32px;
    }

    .my-work-container {
        width: 100%;

        >h2 {
            font-size: 64px;
        }
    }

    .ellipseGiantMyWork {
        height: 250px;
    }

    .ellipseHalfMyWork {
        height: 150px;
    }

    .ellipseMyWorkMedium {
        height: 85px;
        top: 38px
    }

    .ellipseMyWorkSmall {
        height: 50px;
        left: 250px;
    }

    .ellipseSmallestMyWork {
        left: 10px;
        top: 1295px;
    }
}

@media (max-width: 430px) {
    .ellipseMyWorkMedium {
        height: 58px;
        top: 31px;

    }

    .ellipseMyWorkSmall {
        height: 40px;
        left: 100px;
    }

    .my-work-container {
        >h2 {
            font-size: 48px;
            line-height: 1;
        }
    }
}