<div [ngClass]="{rowReverse: project.title == 'El Pollo Loco'}" class="project">
    <a target="_blank" href="{{project.linkLiveTest}}"><img data-aos="flip-up" data-aos-offset="300" data-aos-once="true" src="assets/img/{{project.image}}" alt=""></a>
    <div [attr.data-aos]="project.title == 'El Pollo Loco' ? 'fade-right' :'fade-left'" data-aos-offset="300"
        data-aos-once="true" [ngClass]="{flexEnd: project.title == 'El Pollo Loco'}" class="project-infos">
        <h3>{{project.title}}</h3>
        <span>{{project.technologies}}</span>
        <p>{{project.description | translate}}</p>
        <div [ngClass]="{flexBtnContainer: project.title == 'El Pollo Loco'}" class="project-btn-container">
            <a class="gitHub-btn" [ngClass]="{'fill-button': gitBtnisHover}" (mouseover)="onHover('gitHub')"
                (mouseleave)="onLeave('gitHub')" target="_blank" href="{{project.linkGithub}}">Github</a>
            <a [ngClass]="{'fill-LiveTest-button': liveTestBtnisHover}" (mouseover)="onHover('liveTest')"
                (mouseleave)="onLeave('liveTest')" target="_blank" class="liveTest-btn"
                href="{{project.linkLiveTest}}">Live Test</a>
        </div>

    </div>
</div>