@import '../../../../styles.scss';

.project {
    @include dFlex(row, space-between, flex-end);
    margin-bottom: 120px;
    overflow: hidden;

    >a {
        width: 50%;
        height: 50%;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            box-shadow: 10px 5px 20px lightblue;
            transition: all 0.25s cubic-bezier(.215, .61, .355, 1);

            &:hover {
                transform: scale(0.97);
                cursor: pointer;
            }
        }
    }
}

.project-infos {
    @include dFlex(column, flex-end, flex-start);
    width: 45%;
    height: auto;
    z-index: 1;
}

h3 {
    font-size: 45px;
    font-weight: 800;
    color: $specialBlue;
    font-family: 'Baloo';
    @include marginBlock0();
}

span {
    font-size: 23px;
    color: #5988FF;
    font-weight: 400;
    font-family: 'Montserrat';

}

p {
    @include marginBlock0();
    margin-bottom: 35px;
}

.project-btn-container {
    @include dFlex($jc: none, $ai: center, $g: 8px);
    width: 100%;
    padding: 8px;
}

.gitHub-btn {
    position: relative;
    @include projectButton(#fff, $specialBlue, $specialBlue);
}

.liveTest-btn {
    position: relative;
    $bg: linear-gradient(90deg, rgb(89, 136, 255) 0%, rgba(89, 136, 255, 0.8381477591) 0%, rgba(0, 67, 240, 0.6392682073) 0%);
    @include projectButton($bg, #fff, #fff);
}

.flexBtnContainer {
    @include dFlex($jc: flex-end, $g: 8px);
}