@mixin flexCenter() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin menuBarsStyle() {
    display: block;
    background: #5988FF;
    width: 30px;
    height: 2px;
    transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include flexCenter();
    padding: 56px 84px;
    z-index: 5;

    >img {
        height: 48px;
        object-fit: cover;
    }

    >.menu-desktop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 23px;
        width: 40%;

        >a {
            text-decoration: none;
            color: #5988FF;
            font-size: 23px;
            font-weight: 400;
            font-family: 'Montserrat';
            transition: all 0.15s cubic-bezier(.215, .61, .355, 1);

            &:hover {
                font-weight: 800
            }
        }

    }
}

@media (min-width: 768px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;

        :nth-child(1) {
            @include menuBarsStyle();
        }

        :nth-child(2) {
            @include menuBarsStyle();
        }

        :nth-child(3) {
            @include menuBarsStyle();
        }
    }
}

@media (max-width: 1050px) {
    nav {
        padding: 32px 24px;

        >.menu-desktop {
            width: 50%;
        }
    }
}

@media (max-width: 768px) {
    nav {
        >.menu-desktop {
            display: none;
        }
    }
}

.rotateToRight {
    transform: rotate(45deg) translateY(7px);

}

.rotateToLeft {
    transform: rotate(-45deg) translateY(-7px);
}

.Dnone{
    display: none;
}