<nav>
    <img src="../../../../assets/img/logo.png" alt="LOGO">
    <div class="menu-desktop">
        <a href="#letsWork">About me</a>
        <a href="#skill-set">Skill set</a>
        <a href="#my-work">My Work</a>
    </div>
    <div (click)="onHamburgerClick()" class="hamburger-menu">
        <span [ngClass]="{rotateToRight: isClicked}"></span>
        <span [ngStyle]="{'display': isClicked ? 'none': '',}"></span>
        <span [ngClass]="{rotateToLeft: isClicked}"></span>
    </div>
</nav>