<nav>
    <img src="../../../../assets/img/logo2.png" alt="LOGO">
    <div class="menu-desktop">
        <a href="#letsWork">About me</a>
        <a href="#skill-set">Skill set</a>
        <a href="#my-work">My Work</a>
    </div>
    <div (click)="openMenu()" class="hamburger-menu">
        <span [ngClass]="{rotateToRight: menuService.translateY}"></span>
        <span [ngStyle]="{'display': menuService.translateY ? 'none' : ''}"></span>
        <span [ngClass]="{rotateToLeft: menuService.translateY}"></span>
    </div>
</nav>