nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 56px 120px;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;

        >a {
            text-decoration: none;
            color: #5988FF;
            font-size: 23px;
            font-weight: 400;
            font-family: 'Montserrat';
            transition: all 0.15s cubic-bezier(.215, .61, .355, 1);

            &:hover {
                font-weight: 800
            }
        }

    }
}