$specialBlue: #5988FF;

@mixin whiteGradientBg() {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(241, 245, 255, 1) 0%, rgba(241, 245, 255, 1) 0%, rgba(237, 242, 255, 1) 23%, rgba(234, 240, 255, 0.6840861344537815) 100%);
}

@mixin blueGradientButtonAnimation() {
    background: rgb(89, 136, 255);
    background: radial-gradient(circle, rgba(89, 136, 255, 1) 0%, rgba(89, 136, 255, 1) 54%, rgba(0, 67, 240, 1) 86%);
}

@mixin dFlex($fd: row, $jc: center, $ai: flex-start, $g: 0) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $g
}

@mixin marginBlock0() {
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin overlayFull($p, $t: static, $r: static, $b: static, $l: static) {
    position: $p;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}

/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif, 'Baloo', sans-serif;
    width: 100%;
    position: relative;
    max-width: 1440px;
}



.overflowHidden {
    overflow: hidden;
}

@media (max-width: 1050px) {

    body {
        width: 100%;
    }
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/montserrat/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../src/assets/fonts/montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/baloo/Baloo2-Regular.ttf');
}

@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/baloo/Baloo2-Medium.ttf');
}

@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/baloo/Baloo2-SemiBold.ttf');
}

@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/baloo/Baloo2-Bold.ttf');
}

@font-face {
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/baloo/Baloo2-ExtraBold.ttf');
}