<div class="hero-section">
    <app-menu-mobile></app-menu-mobile>
    <img class=" ellipseHero" src="assets/img/ellipseHero.svg" alt="">
    <div class="wrapper">
        <div data-aos="fade-right" data-aos-once="true" class="profil-photo-container">
            <img class="me" src="assets/img/me.png" alt="">
        </div>
        <div class="titlesAndSocialWrapper">
            <div class="titles">
                <h1 [ngStyle]="{'transform': translateGreet ? 'translateX(0%)': 'translateX(150%)'}">{{ "greet" |
                    translate }}
                </h1>
                <h2 [ngStyle]="{'transform': translateFronEnd ? 'translateX(0%)': 'translateX(150%)'}">{{"profession" |
                    translate}}<br>
                </h2>
            </div>
            <div class="vector-bar-and-socialNetwork-container">
                <span></span>
                <div class="vector-bar-and-scroll">
                    <a class="scroll" href="#letsWork">{{"scroll" | translate}}</a>
                    <span class="vector-bar"></span>
                </div>
                <div class="social-network-container">
                    <a href="https://github.com/VincenzoRispoli" target="_blank"> <img class="social"
                            src="assets/img/githubHero.png" alt=""></a>
                    <a href="" target="_blank"> <img class="social" src="assets/img/linkedinHero.png" alt=""></a>
                    <a href="mailto:vincenzorispoli.vr@gmail.com"><img class="social" src="assets/img/emailHero.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>