@import '../../../styles.scss';

.hero-section {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    @include whiteGradientBg();
}

.ellipseHero {
    position: absolute;
    height: 90vh;
    left: -180px;
    object-fit: cover;
}

.wrapper {
    @include dFlex($jc: space-between, $ai: flex-end);
    width: 100%;
    height: 100%;
    padding: 0 56px;
    z-index: 1;

    >.profil-photo-container {
        width: 50%;
        @include dFlex($jc: center, $ai: flex-end);

        .me {
            width: 55vh;
            object-fit: cover;
        }
    }
}

.titlesAndSocialWrapper {
    @include dFlex(column, center, flex-end);
    width: 50%;
}

.titles {
    @include dFlex(column);
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
    overflow: hidden;
    margin-bottom: 64px;
}

h1 {
    color: $specialBlue;
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 8px;
    @include marginBlock0();
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

h2 {
    line-height: 0.8;
    @include h2Styles($specialBlue);
    @include marginBlock0();
    color: $specialBlue;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.vector-bar-and-socialNetwork-container {
    @include dFlex(row, space-between, flex-end);
    width: 100%;
}

.vector-bar-and-scroll {
    @include dFlex(column, $ai: center);
    width: 20%;
}

.scroll {
    font-size: 24px;
    color: $specialBlue;
    text-decoration: none;

    &:hover {
        font-weight: 800;
    }
}

.vector-bar {
    display: block;
    background: $specialBlue;
    height: 25vh;
    width: 2px;
}


.social-network-container {
    @include dFlex(column, $ai: center, $g: 16px);
    padding: 8px;
    z-index: 1;

    >a {
        height: 6vh;
        @include dFlex(row, center, center);

        >.social {
            height: 6vh;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

            &:hover {
                transform: translateX(-10px);
            }
        }
    }
}

.translateXGreetingBack {
    transform: translateX(0%);
}

.bgBlu {
    background: blue;
}