<div class="hero-section">
    <app-menu-mobile></app-menu-mobile>
    <app-navbar></app-navbar>
    <img class="ellipseHero" src="../../../assets/img/ellipseHero.svg" alt="">
    <img class="me" src="../../../assets/img/me.png" alt="">
    <div class="wrapper">
        <div class="titles">
            <h1>Hello, I'm Vincenzo</h1>
            <h2>FRONTEND <br> DEVELOPER</h2>
        </div>
        <div class="vector-bar-and-socialNetwork-container">
            <span></span>
            <div class="vector-bar-and-scroll">
                <a href="#letsWork">SCROLL</a>
                <span class="vector-bar"></span>
            </div>
            <div class="social-network-container">
                <img class="social" src="../../../assets/img/githubHero.png" alt="">
                <img class="social" src="../../../assets/img/linkedinHero.png" alt="">
                <img class="social" src="../../../assets/img/emailHero.png" alt="">
            </div>
        </div>
    </div>
</div>