.hero-section {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    border: 1px solid #5988FF;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(241, 245, 255, 1) 0%, rgba(241, 245, 255, 1) 0%, rgba(237, 242, 255, 1) 23%, rgba(234, 240, 255, 0.6840861344537815) 100%);

    >.me {
        position: absolute;
        bottom: 0;
        left: 64px;
        height: 600px;
    }

    >.ellipseHero {
        height: 600px;
        object-fit: cover;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 84px;
    gap: 48px;

    >.titles {
        display: flex;
        flex-direction: column;

        >h1 {
            color: #5988FF;
            font-size: 3.5vw;
            font-weight: 400;
            margin-bottom: 8px;
            margin-block-start: 0;
            margin-block-end: 0;
        }

        >h2 {
            font-family: 'Baloo';
            font-weight: 800;
            height: auto;
            font-size: 6.2vw;
            line-height: 0.8;
            margin-block-start: 0;
            margin-block-end: 0;
            color: #5988FF;
            ;
        }
    }
}

.vector-bar-and-socialNetwork-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >.vector-bar-and-scroll {
        display: flex;
        flex-direction: column;
        align-items: center;

        >a {
            color: #5988FF;
            text-decoration: none;
        }

        >.vector-bar {
            display: block;
            background: #5988FF;
            height: 200px;
            width: 2px;
        }
    }
}

.social-network-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    z-index: 1;

    >.social {
        cursor: pointer;
        transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

        &:hover {
            transform: translateX(-10px);
        }
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 118px;
    }
}


@media (max-width: 1050px) {
    .hero-section {
        >.ellipseHero {
            height: 450px;
        }
    }

    .wrapper {
        padding: 0 60px;
    }
}

@media (max-width: 768px) {

    .hero-section {
        position: none;

        >.ellipseHero {
            position: absolute;
            height: 600px;
            left: -120px;
        }

        >.me {
            position: absolute;
            bottom: 0;
            left: 48px;
            height: 500px;
        }
    }

    .vector-bar-and-socialNetwork-container {
        display: none;
    }

    .wrapper {
        justify-content: flex-start;
        z-index: 2;
        padding: 0 16px;

        >.titles {
            margin-top: 200px;

            >h1 {
                color: #fff;
                font-size: 32px;
            }

            >h2 {
                color: #fff;
                font-size: 64px;
            }
        }
    }

}

@media (max-width: 430px) {
    .hero-section {
        flex-direction: column-reverse;
        align-items: center;

        >.ellipseHero {
            left: -210px;
            top: 0;
        }

        >.me {
            position: static;
            left: 0px;
            height: auto;
            width: 300px;
            z-index: 2;
        }
    }

    .wrapper {
        width: 100%;
        justify-content: flex-start;

        >.titles {
            >h1 {
                font-size: 24px;
            }

            >h2 {
                font-size: 48px;
            }
        }
    }

}