<div class="imprint">
    <!-- <app-header></app-header> -->
    <app-menu-mobile></app-menu-mobile>
    <div class='info'>
        <h1>{{"imprint" | translate}}</h1>
        <p>{{"according-info" | translate}}</p>
        <p>Vincenzo Rispoli <br>
            Binterimstrasse 1<br>
            40223 Duesseldorf <br>
        </p>
        <p> <strong style="color: #5988FF; font-size: 20px;">{{"Represented-by" | translate}}</strong><br>
            Vincenzo Rispoli<br>
        </p>
        <p><strong style="color: #5988FF; font-size: 20px;">{{"contact-Imprint" | translate}}:</strong>
            <br>{{"telephone" | translate}} +49-15205188170<br>
            E-Mail: <a class="email" href='mailto:vincenzorispoli.vr@gmail.com'>vincenzorispoli.vr&#64;gmail.com</a><br>
        </p><br>
        <!-- Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der
        <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a> -->
    </div>
</div>