.imprint {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;

    >.info {
        padding: 32px;
        font-family: 'Montserrat';

        >h1 {
            color: #5988FF;
        }

        >p {
            font-size: 18px;
            font-weight: 400;
        }

    }
}


.email {
    color: #5988FF;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        color: blue;
        text-decoration: underline;
    }
}