<div class="footer">
    <div class="logoCopySocial-container">
        <div class="logo-container">
            <img class="logo" src="../../../../assets/img/logo2.png" alt="LOGO">
        </div>
        <h2 class="copyright">© Vincenzo Rispoli 2024</h2>
        <span class="social-networks-container">
            <a href="https://github.com/VincenzoRispoli"><img src="../../../../assets/img/gitWhite.png" alt=""></a>
            <a href=""><img src="../../../../assets/img/linkedinWhite.png" alt=""></a>
            <a href="mailto: vincenzorispoli.vr@gmail.com"><img src="../../../../assets/img/emailWhite.png" alt=""></a>
        </span>
    </div>
    <div class="imprint-wrapper">
        <div class="imprint-little-wrapper">
            <a href="imprint">Imprint</a>
            <span class="underline"></span>
        </div>
    </div>
</div>