@mixin marginBlockNone() {
    margin-block-start: 0;
    margin-block-end: 0;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #5988FF;
    background: linear-gradient(90deg, rgba(89, 136, 255, 1) 0%, rgba(89, 136, 255, 0.8381477591036415) 0%, rgba(0, 67, 240, 0.6392682072829132) 0%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 56px;

    >.logoCopySocial-container {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        >.logo-container {
            @include flexCenter();
            width: 25%;

            >.logo {
                width: 150px;
                object-fit: cover;
            }
        }


        >h2 {
            color: #fff;
            font-family: 'Montserrat';
            font-size: 23px;
            font-weight: 400;
            width: 50%;
            text-align: center;
        }

        >span {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 25%;
            gap: 42px;

            >a {
                >img {
                    cursor: pointer;
                    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);

                    &:hover {
                        transform: scale(1.2)
                    }
                }
            }

        }
    }
}

.imprint-wrapper {
    @include flexCenter();

    >.imprint-little-wrapper {
        flex-direction: column;
        @include flexCenter();
        overflow-x: hidden;

        a {
            padding: 5px 10px;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
        }

        >.underline {
            display: block;
            background: #fff;
            height: 3px;
            border-radius: 10px;
            width: 60%;
            transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateX(-200%);
        }

        &:hover a {
            font-weight: 700;
        }

        &:hover .underline {
            transform: translateX(0%);
        }


    }
}

@media (max-width: 1050px) {
    .footer {
        >.logoCopySocial-container {
            .logo-container {
                >.logo {
                    width: 120px;
                }
            }

            >span {
                gap: 24px
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 48px 0;

        >.logoCopySocial-container {
            flex-direction: column;
            align-items: center;
            gap: 24px;
            margin-bottom: 24px;

            >.logo-container {
                width: 100%;
            }

            >h2 {
                @include marginBlockNone();
                width: 100%;
            }

            >span {
                width: 100%;
                @include flexCenter();
            }
        }

    }
}