<div class="footer">
    <div>
        <div class="logo-container">
            <img class="logo" src="../../../../assets/img/logo2.png" alt="LOGO">
        </div>
        <h2 class="copyright">C Vincenzo Rispoli 2024</h2>
        <span class="social-networks-container">
            <img src="../../../../assets/img/linkedinWhite.png" alt="">
            <img src="../../../../assets/img/gitWhite.png" alt="">
            <img src="../../../../assets/img/emailWhite.png" alt="">
        </span>
    </div>
    <span class="imprint">Imprint</span>
</div>