@import '../../../../styles.scss';

.footer {
    background-color: #5988FF;
    background: linear-gradient(90deg, rgba(89, 136, 255, 1) 0%, rgba(89, 136, 255, 0.8381477591036415) 0%, rgba(0, 67, 240, 0.6392682072829132) 0%);
    @include dFlex(column, $jc: center);
    padding: 56px;

    >.logoCopySocial-container {
        @include dFlex(row, space-between, center);
        width: 100%;

        >.logo-container {
            @include dFlex($ai: center);
            width: 25%;

            >.logo {
                width: 150px;
                object-fit: cover;
                cursor: pointer
            }
        }


        >h3 {
            color: #fff;
            font-family: 'Montserrat';
            font-size: 24px;
            font-weight: 400;
            width: 50%;
            text-align: center;
            @include marginBlock0();
        }

        >span {
            @include dFlex(row, flex-end, center, 42px);
            width: 25%;

            >a {
                >img {
                    cursor: pointer;
                    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

        }
    }
}

.imprint-wrapper {
    @include dFlex(row, center, center);
    width: 100%;

    >.imprint-little-wrapper {
        @include dFlex(column, center, center);
        overflow-x: hidden;

        a {
            padding: 5px 10px;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
        }

        >.underline {
            display: block;
            background: #fff;
            height: 3px;
            border-radius: 10px;
            width: 60%;
            transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateX(-200%);
        }

        &:hover a {
            font-weight: 700;
        }

        &:hover .underline {
            transform: translateX(0%);
        }
    }
}