<div class="footer">
    <div class="logoCopySocial-container">
        <div class="logo-container">
            <img class="logo" src="assets/img/logo2.png" alt="LOGO">
        </div>
        <h3 class="copyright">© Vincenzo Rispoli 2024</h3>
        <span class="social-networks-container">
            <a target="_blank" href="https://github.com/VincenzoRispoli"><img src="assets/img/gitWhite.png" alt=""></a>
            <a target="_blank" href=""><img src="assets/img/linkedinWhite.png" alt=""></a>
            <a target="_blank" href="mailto: vincenzorispoli.vr@gmail.com"><img src="assets/img/emailWhite.png"
                    alt=""></a>
        </span>
    </div>
    <div class="imprint-wrapper">
        <div class="imprint-little-wrapper">
            <a href="imprint">{{"imprint" | translate}}</a>
            <span class="underline"></span>
        </div>
    </div>
</div>