<div>
    <div (mouseover)="translateToLeft()" (mouseleave)="translateToRight()" class="back">
        <a href="#contact"><img [ngClass]="{translateX: isHover}" class="arrow-left" src="assets/icons/arrow-left.svg"
                alt="">Back</a>
    </div>
    <h1>{{"title1" | translate}}</h1>
    <p>{{"text1" | translate}}
    </p>
    <p>Vincenzo Rispoli</p>
    <h2>{{"title2" | translate}}</h2>
    <p>{{"text2" | translate}}
    </p>
    <ul>
        <li>{{"list1" | translate}}</li>
        <li>{{"list2" | translate}}</li>
        <li>{{"list3" | translate}}</li>
        <li>{{"list4" | translate}}</li>
        <li>{{"list5" | translate}}</li>
        <li>{{"list6" | translate}}</li>
    </ul>
    <p>{{"text3" | translate}}</p>
    <p>{{"text4" | translate}}</p>
    <p>{{"text5" | translate}} <a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html"
            target="_blank" rel="noopener nofollow">{{"link1" | translate}}</a>.</p>

    <h2>{{"title3" | translate}}</h2>
    <h3>{{"title4" | translate}}</h3>
    <p>{{"text6" | translate}} </p>
    <p>{{"text7" | translate}}</p>
    <ul>
        <li>{{"list7" | translate}}</li>
        <li>{{"list8" | translate}}</li>
        <li>{{"list9" | translate}}</li>
        <li>{{"list10"| translate}}</li>
    </ul>
    <p>{{"text8" | translate}}</p>
    <h3>{{"title5" | translate}}</h3>
    <p>{{"text9" | translate}}</p>
    <h3>{{"title6" | translate}}</h3>
    <p>{{"text10" | translate}}</p>
    <p></p>
    <h3>{{"title7" | translate}}</h3>
    <p>{{"text11" | translate}}</p>
    <p>{{"text12" | translate}}</p>
    <p></p>
    <h3>{{"title8" | translate}}</h3>
    <p>{{"text13" | translate}} </p>
    <p></p>
    <h2>{{"title9" | translate}}</h2>
    <h3>{{"title10" | translate}}</h3>
    <p>{{"text14" | translate}}</p>
    <h3>{{"title11" | translate}}</h3>
    <p>{{"text15"}}</p>
    <p>{{"text16" | translate}}</p>
    <p>{{"text17" | translate}}</p>
    <h3>{{"title12" | translate}}</h3>
    <p>{{"text18" | translate}}</p>
    <p></p>
    <h3>{{"title13" | translate}}</h3>
    <p>{{"text19" | translate}}</p>
    <p>{{"text20" | translate}}</p>
    <h3>{{"title14" | translate}}</h3>
    <p>{{"text21" | translate}}</p>
    <p></p>
    <h2>{{"title15" | translate}}</h2>
    <p>{{"text22" | translate}}</p>
    <p>{{"text23" | translate}} <a href="https://developers.google.com/fonts/faq" rel="noopener nofollow"
            target="_blank">{{"link2" | translate}}</a>{{"text24"| translate}} <a
            href="https://www.google.com/policies/privacy/" rel="noopener nofollow" target="_blank">{{"link3" |
            translate}}</a>.</p>
    <p></p>
    <h2>{{"title16" | translate}}</h2>
    <p>{{"text25" | translate}}</p>
    <p></p>
    <hr>
    <h2>{{"title17" | translate}}</h2>
    <h3>{{"title18"| translate}}</h3>
    <p>{{"text26" | translate}}</p>
    <p>{{"text27" | translate}}</p>
    <h3>{{"title19" | translate}}</h3>
    <p>Vincenzo Rispoli</p>
    <hr>
    <h2>{{"title20" | translate}}</h2>
    <p>{{"text28" | translate}}</p>
    <h2>{{"title21" | translate}}</h2>
    <p>{{"text29" | translate}}</p>
    <p></p>
    <p><em>{{"text30" | translate}} <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/"
                target="_blank" rel="noopener">{{"link4" | translate}}</a> (Version #2020-09-30).</em></p>
</div>