@import '../../styles.scss';

.imprint {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 150px;

    >.info {
        padding: 16px;
        font-family: 'Montserrat';

        >h1 {
            color: $specialBlue;
        }

        >p {
            font-size: 18px;
            font-weight: 400;
        }

    }
}


.email {
    color: $specialBlue;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        color: blue;
        text-decoration: underline;
    }
}

.back {
    padding: 16px;

    >a {
        @include dFlex(row, flex-end, center, 16px);
        text-decoration: none;
        color: $specialBlue;
        font-size: 24px;
        cursor: pointer;
        padding-right: 24px;

        &:hover {
            font-weight: 700;
        }

        >.arrow-left {
            height: 32px;
            object-fit: contain;
            cursor: pointer;
            transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
        }

    }

    &:hover .arrow-left {
        transform: translateX(-10px);
    }
}